<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo3XFuV8zhrKD4pVEUhdNY-9FISk5WZ-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>357937556372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.ritom.core</string>
	<key>PROJECT_ID</key>
	<string>core-blaze</string>
	<key>STORAGE_BUCKET</key>
	<string>core-blaze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357937556372:ios:c3ecc789b24b6b5241fd81</string>
</dict>
</plist>